.contact-button {
    align-self: center;
}

/* Kleine computerschermen */
@media screen and (min-width: 992px) {
    .page-background.about-page {
        background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.18) 0%,
                rgba(190, 195, 205, 0.28) 55%,
                rgba(120, 125, 140, 0.45) 100%
        ),
        url("../../assets/backgrounds/desktop-volleyball-background-with-clublogo.png");
        background-size: cover;
        background-position: center;
    }

    .about-page .page-content {
        margin-left: 17rem;
        margin-top: 8rem;
    }
}