.button {
    background-color: var(--color-primary);
    border-radius: 15px;
    color: var(--color-black);
    font: inherit;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    width: auto;
    align-self: center;
}