.user-data-section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.user-data-section p {
    display: flex;
    flex-direction: column;
}

/* Kleine computerschermen */
@media screen and (min-width: 992px) {
    .page-background.profile-page {
        background-image: url("../../assets/backgrounds/desktop-checklist-left.webp");
        background-size: cover;
        background-position: left 30%;
    }

    .profile-page {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .profile-page .page-content  {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 2rem;
        margin: 8rem 12rem;
    }

    .user-data-section p {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }
}