.contact-success-message,
.contact-error-message {
    text-align: center;
}

/* Tablets */
@media screen and (min-width: 768px) {
    .contact-page .page-content {
        display: flex;
        max-width: 45rem;
        margin: 4rem auto;
    }
}

/* Kleine computerschermen */
@media screen and (min-width: 992px) {
    .page-background.contact-page {
        background-image: url("../../assets/backgrounds/desktop-waving-woman-background.webp");
        background-size: cover;
        background-position: right bottom;
    }

    .contact-page .page-content {
        margin-left: 15%;
        margin-top: 4rem;
    }
}
