.play-dates-table th {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25rem;
}

.play-dates-table th,
.play-dates-table td {
    padding: 0.5rem 0;
    text-align: left;
}

.play-dates-table th:first-child,
.play-dates-table td:first-child {
    padding-right: 0.7rem;
}

.play-dates-table th:last-child,
.play-dates-table td:last-child {
    text-align: right;
}

.attendance-options {
    display: flex;
    gap: 0.5rem;
}

.attendance-options button {
    height: 2.5rem;
    width: 2.5rem;
    font: inherit;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.attendance-selected {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.attendance-inactive {
    background-color: var(--color-secondary);
    color: var(--color-white);
}