.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.main-navigation a {
    text-decoration: transparent;
    color: var(--color-white);
}

nav a.active {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
    color: var(--color-white);
    font-weight: 500;
}

.volleyball-icon {
    width: 2rem;
    height: 2rem;
}

.user-icon {
    width: 2rem;
    height: 2rem;
}

.nav-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px dotted red;
}

.nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dotted yellow;
}

.nav-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

