.poll-options {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
    gap: 0.8rem;
}

.poll-options li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.poll-answer-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
    min-width: 0;
}

.poll-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.poll-form > button {
    align-self: center;
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.poll-votes {
    flex-shrink: 0;
}

.poll-card p {
    font-size: 16px;
}